{% extends "layout.html" %}
{% block extra_meta %}
<META http-equiv="refresh" content="10;URL={{url_for('data.getAlbums')}}">
{% endblock %}
{% block body %}

<div class="container">
  <div class ="row">
    <div class = "col-md-10 col-md-offset-1">
      <div class = "panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{now}}</h3>
        </div>
        <div class = "panel-body"> 
          <table class="table table-striped"> 

            <tr>
                <h2></h2>
                <th></th>
                <th>{% if data %}Real-time Data{% endif %}</th>
                
                <th>Simulated data</th>

            </tr>
            {% for dat in data %}
            <tr>
              <div> 
                <td class = "col-md-1">
                </td>
                <td class = "col-md-5">
                  <font size="3">{{ dat[2] }}</font>
                </td>
                <td >
                  <font size="3">{% if simulate_data[loop.index0] %}{{ simulate_data[loop.index0][4] }}{% endif %}</font>
                </td>
              </div>
            {% endfor %}
            </tr>



          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}