{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    {% if header %}
    <p>{{header}}</p>
    {% else %}
    <center><h1> Hello! </h1>
    {% endif %}

    {% if "username" in session %}
    <p> Logged in as {{session["username"]}}</p>
    {% endif %}
    {% if message %}  
    <p>{{message}}</p>
    {% else %}
    <p> Cloud manufacturing </p>
    <p></p>
    {% endif %}

    <a href="{{ url_for('data.getAlbums') }}" class="btn btn-success"> View data </a>
    
  </center>
  </div>
</div>

{% endblock %}